.container{
    display: flex;
    flex-direction: row;
    overflow-x: hidden;
}

.rightSection{
    height: 100vh;
    width: 85%;
    overflow-y: hidden;
}

.leftSection{
    height: 100vh;
    width: 15%;
    border-left: 1px solid rgba(128, 128, 128, 0.421);
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    align-items: center;
    overflow-x: hidden;
    overflow-y: hidden;
}

.itemButton{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 110px;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 8px;
    border: 2px solid #3a3ab7;
    font-weight: 600;
    color: #3a3ab7;
}

.itemButton i{
    font-size: 18px;
}

.itemButton:hover{
    background-color: #3a3ab7;
    color: #fff;
    border: 2px solid #fff;
}