.container{
    border: 1px solid grey;
    border-radius: 8px;
    width: 120px;
    background-color: #fff;
}

.label{
    background-color: #8f99c7;
    color:#f0f0f0;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    font-size: 14px;
    font-weight: 700;
    padding: 8px 10px;
}

.container .details{
    padding-left: 14px;
    padding-top: 6px;
    padding-bottom: 14px;
}

.container .details .Month{
    font-weight: 650;
    font-size: 24px;
}

.container .details .Month .date{
    font-size: 20px;
}

.container .details .year{
    font-size: 18px;
}