.container{
    width: 100%;
    height: 120px;
    display: flex;
    flex-direction: column;
    margin-left: 56px;
    margin-bottom: 40px;
}

.container .SectionTitle{
    padding-bottom: 4px;
    font-size: 14px;
    font-weight: 600;
}

.container .optionsSection textarea{
    height: 40px;
    width: 80%;
    outline: none;
    resize: vertical;
}

.optionsSection{
    display: flex;
    flex-direction: row;
    margin-top: 8px;
    align-items: center;
}

.options{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.optionsSection input{
    height: 16px;
    width: 16px;
}

.optionsSection label{
    font-size: 14px;
    font-weight: 600;
    margin-left: 18px;
}

.inputSection textarea{
    margin-right: 8px;
    resize: vertical;
    width: 75%;
}

.addElementButton{
    width: 78%;
    padding-top: 8px;
    padding-bottom: 8px;
    background-color: #3a3ab7;
    border: none;
    color: #fff;
    font-weight: 600;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 4px;
}

.cancelButton{
    width: 78%;
    padding-top: 8px;
    padding-bottom: 8px;
    background-color: #d92e2e;
    border: none;
    color: #fff;
    font-weight: 600;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 4px;
}

.optionsSection{
    display: flex;
    flex-direction: column;
    align-items: first baseline;
    gap: 8px;
}

