.container{
    width: 260px;
    height: 65px;
    border: 1px solid grey;
    border-radius: 8px;
    background-color: #fff;
}

.container .labelSection{
    background-color: #b0f1e3;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    font-size: 14px;
    font-weight: 700;
    padding: 8px 10px;
}

.container .inputSection input{
    width: 90%;
    margin-left: 8px;
    border: none;
    outline: none;
    margin-top: 4px;
}

.container .inputSection input:focus{
    background-color: #fff;
}

.container .inputSection input:active{
    background-color: #fff;
}